/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}
p {
  font-family: "Inter", sans-serif;
}
/* -- -----------------------------------------start header area----------------------------------------- -- */
.header-area {
  margin: 50px 150px;
  padding: 150px 0;
  color: #fff;
  text-align: center;
  background-image: url("../images/header-bg2.png"),
    url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header-area h3 {
  font-size: 32px;
  font-weight: 400;
}
.header-area h1 {
  font-size: 72px;
  font-weight: 900;
}
/* -- -----------------------------------------end header area----------------------------------------- -- */
/* -- -----------------------------------------start main area----------------------------------------- -- */
/* -- -----------------------------------------start categories section area----------------------------------------- -- */
.categories {
  margin: 70px auto;
  text-align: center;
}
.categories h1 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.categories h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
}
.categories h2 {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 48px;
}
.categories img {
  width: 802.9px;
}
/* -- -----------------------------------------end categories section area----------------------------------------- -- */
/* -- -----------------------------------------end main area----------------------------------------- -- */
