/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}
p {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
/* -- -----------------------------------------start header area----------------------------------------- -- */
.header-area {
  margin: 50px 150px;
  padding: 150px 0;
  color: #fff;
  text-align: center;
  background-image: url("../images/header-bg2.png"),
    url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header-area h3 {
  font-size: 32px;
  font-weight: 400;
}
.header-area h1 {
  font-size: 72px;
  font-weight: 900;
}
/* -- -----------------------------------------end header area----------------------------------------- -- */
/* -- -----------------------------------------start main area----------------------------------------- -- */
/* -- -----------------------------------------start categories section area----------------------------------------- -- */
.categories {
  margin: 70px auto;
  text-align: center;
}
.categories h1 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.categories h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
}
.categories h2 {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 48px;
}
.categories img {
  width: 802.9px;
}
/* -- -----------------------------------------end categories section area----------------------------------------- -- */
/* -----------------------------------------start midnight party section area----------------------------------------- */
.midnight-party {
  background-image: url("../images/midnight-party-shadow.png"),
    url("../images/midnight-party.png");
  max-width: 100%;
  background-repeat: no-repeat;
  padding: 100px 70px;
  margin: 120px 150px;
  background-size: cover;
  display: flex;
  position: relative;
}
.midnight-party h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
}
.midnight-party p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  margin: 24px 0;
}
.midnight-party a {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 32px;
  margin-top: 24px;
}
.midnight-party img {
  position: absolute;
  max-width: 200px;
  right: 50px;
}
/* -- -----------------------------------------start join now section area----------------------------------------- -- */
.join-now {
  margin: 0 150px;
  background-image: url("../images/join-now-bg.png");
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 100px;
}
.join-now p {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}
.join-now p span {
  color: #f00;
}
.join-now button {
  color: #fff;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  background: #f00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 10px;
}
/* -- -----------------------------------------end join now section area----------------------------------------- -- */
/* -----------------------------------------end midnight party section area----------------------------------------- */
/* -- -----------------------------------------end main area----------------------------------------- -- */
